<div class="full-screen page-content" (keyup.enter)="submitForm()">
    <div class="wrapper">
        <!-- <img class="logo-img" src="./assets/img/logo.png" alt=""> -->
        <img src="assets/img/logo.png"
            class="logo-img" alt="">
        <div class="text-wrapper">
            <h1 class="title-text">
                UBC Clients
            </h1>
        </div>
        <!--错误提示-->
        <nz-alert nzType="error" nzMessage="{{loginError}}" class="login-error" *ngIf="loginError!==''"></nz-alert>
        <!--登录信息-->
        <input nz-input placeholder="user" #usernameInput [(ngModel)]="username">
        <input class="password-input" nz-input type="password" placeholder="password" #passwordInput [(ngModel)]="password">
        <button nz-button [nzType]="'primary'" (click)="submitForm()" [disabled]="!usernameInput.value || !passwordInput.value">
        Sign In
      </button>
        <div class="copy-right">
            Copyright © 2025 UBC
        </div>
    </div>
</div>